body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 400px;
}

.username {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    box-sizing: border-box;
    width: 400px;
    height: 45px;
    background-color: rgb(250, 250, 250);
    padding-left: 10px;
    margin: 15px auto;
    border: 1px solid rgb(200, 197, 197);
    border-radius: 3px;
    font-size: inherit;
    font-weight: bolder;
}

.btn {
    background-color: rgb(228, 228, 18);
    border: 1px solid rgb(190, 187, 7);
}

.first {
    width: 170px;
    margin: 0;
}

.last {
    width: 220px;
    margin: 0;
}

input::placeholder {
    color:rgb(161, 161, 161);
}

.fields p {
    font-size: 14px;
    margin-bottom: 0;
    color: rgb(161, 161, 161);
}

.fields a {
    color: black;
    text-decoration: none;
}